@import '~bootstrap/scss/bootstrap';

* {
    box-sizing: border-box;
}

.board {
    justify-content: center;
    align-content: center;
    align-items: center;

}

.cell {
    border: 1px solid black
}